@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .min-h-screen.flex.flex-col.items-center {
    justify-content: center;
  }
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;     
  margin: 0;
}


.weather-center {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%; 
}
